body {
	
	background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Capriola', sans-serif;
}
button:focus, input:focus {outline:0 !important;}


 button {
	padding: 10px;
	margin-right: 10px;
	margin-top: 10px;
	background-color: #808080;
	border-style:none;
	font-size: 14px;
	color:white;
	font-family: 'Capriola', sans-serif;
}
#sports {
	text-align: center;
	padding: 20px;
}

h1 {
	padding-bottom: 20px;
	padding-top: 30px;
	color: #DCDCDC;
	font-size: 55px;
	text-align: center;
	font-family: 'Capriola', sans-serif;
}

/*form {
	padding-top: 20px;
	margin-right: 50px;
	float: right;
	line-height: 30px;

}*/
#add-sport {
	/*margin: 20px;*/
	font-size: 16px;
	background-color:#4B0082;
	color: #DCDCDC;
	padding: 10px; 
	border-style:none;
	font-family: 'Capriola', sans-serif;
	width: 40%;

	
	}
#search-input {
	
	 background-color: #f4f5f6;
  border-radius: .4em;
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 350;
}
img {
	/*margin-left:40px;*/
	border: solid 8px;
	width: 350px;
	height: 250px;
}
.form-div {text-align: center;}
.form-div input{
width: 50%;
margin-bottom: 10px;
}
.gifsDiv {
	float: left;
	text-align: center;
	padding: 5px;
}
p {

	padding: 20px;
	/*margin-left: 40px;*/
	color: white;
	font-size: 18px;
}
#gifs {
	text-align: center;
	padding-bottom: 40px;
}




